* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins";
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root {
    --bg-color: whitesmoke;
    --bg-main-profile: #f0f0f0;
    --btn-color: black;
}

::-webkit-scrollbar {
    display: none;
}

body {

    -ms-overflow-style: none;
    scrollbar-width: none;

    background-color: #ccc;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

main,
.web-section {
    background-color: white;
    height: 97vh;
    border: 2px solid;
}

main {
    border-radius: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

main .profile {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}

main .profile-pic {
    background-color: red;
    border: 2px double black;
    border-radius: 20%;
    height: 150px;
    width: 150px;
}

main .resume-btn {
    background-color: black;
    color: whitesmoke;
    width: 150px;
    border: none;
    border-radius: 30px;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}

main .resume-btn:hover {
    background-color: whitesmoke;
    color: black;
    transform: scale(1.02);
    outline: 2px solid black;
}

/* Address Tag */
main address {
    border-radius: 20px;
    height: 300px;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main address .contact-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main address .contact-item a {
    text-decoration: none;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

main address .contact-item a .bx {
    font-size: 18px;
    padding: 10px;
    color: black;
    background-color: whitesmoke;
    border-radius: 20%;
}

main address .contact-item a span {
    color: black;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Arial';
}

main address .contact-item a .bx:hover,
main address .contact-item a span:hover {
    color: indigo;
}

main address .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

main address .social-media a {
    font-size: 3rem;
    color: black;
}

main address .social-media a:hover {
    color: indigo;
}

/* TODO: Website Section */

.web-section {
    overflow-y: scroll;
    border-top: 0;
    border-radius: 15px;
    width: 85%;
    position: relative;
}

.web-section header {
    position: sticky;
    /* stays in place while scrolling */
    top: 0;
    z-index: 1000;
    display: flex;
    height: 60px;
    background-color: whitesmoke;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.web-section header .page-title {
    position: absolute;
    top: 7px;
    left: 30px;
    font-size: 2rem;
}

.web-section header .navbar {
    position: absolute;
    right: 0;
    height: 60px;
    width: 600px;
    border: 2px solid;
    border-right: none;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    align-items: center;
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    padding: 10px;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    z-index: 1;
}

.nav-links a.active {
    border: 2px solid;
    border-radius: 20px;
    font-weight: bold;
}

.web-section .pages {
    display: none;
    min-height: calc(97vh - 60px);
    width: 100%;
    scroll-margin-top: 64px;
}

.web-section .pages.active {
    display: block;
}

/* ? Contact Section */
.pages#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Page-Header */
.page-header {
    text-align: center;
}

.page-header .heading {
    font-size: 24px;
    color: black;
}

/* page-header */

.pages#contact .headline {
    text-align: center;
    color: rgb(92, 89, 89);
    max-width: 350px;
    font-size: 14px;
}

.pages#contact .contact-form {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    width: 100%;
}

.pages#contact .contact-form .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.pages#contact .contact-form .container .inputs {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
}

.pages#contact .contact-form .container .inputs p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pages#contact .contact-form .container .inputs p .bx {
    font-size: 32px;
    color: gray;
}

.pages#contact .contact-form .container .inputs p input {
    padding: 5px 10px;
    border-bottom: 2px solid black;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: none;
    transition: all 0.3s ease-in-out;
}

.pages#contact .contact-form .container textarea {
    flex: 1;
    min-width: 250px;
    padding: 10px;
    resize: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
}

.pages#contact .contact-form .form-actions {
    text-align: center;
}

.pages#contact .contact-form button {
    padding: 10px 20px;
    border: none;
    background-color: orange;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.pages#contact .contact-form button:hover {
    background-color: chocolate;
}

footer {
    font-size: 14px;
    text-align: center;
}

footer a {
    margin-left: 5px;
    text-decoration: underline;
}